#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# .pem files
*.pem

# .hcl files from Terraform v0.14 and newer
*.hcl
aws_key
aws_key.pub
/.awless/awless.db
/.awless/aws/rdf/
*.xml
*.iml

# User-specific stuff .idea files*
*.idea
*.idea/.gitignore
*.idea/misc.xml
*.idea/modules.xml
*.idea/tech-bleat-project.iml
*.idea/vcs.xml
